<div class="tech-btm">
    <p>Güncel yazılarımız e-posta adresinizde</p>
    <form action="/Newsletter/Subscribe" method="post">
        <input type="email" placeholder="E-Posta adresiniz" required="" name="Email" id="Email">
        <input type="submit" id="Subscrible" value="Abone Ol">
    </form>
</div>