@model UserUpdateViewModel
@{
    ViewData["Title"] = "EditProfile";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div class="page-header">
    <h3 class="page-title">Profil Bilgileri</h3>
</div>
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form method="post" action="/Writer/EditProfile/">
                    <div class="form-group">
                        <label for="userName">Kullanıcı Adınız</label>
                        <input type="text" name="UserName" asp-for="@Model.UserName" la class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="NameSurname">Adınız Soyadınız</label>
                        <input type="text" name="NameSurname" asp-for="@Model.NameSurname" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Email">E-Posta Adresiniz</label>
                        <input type="email" name="Email" asp-for="@Model.Email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Password">Şifreniz</label>
                        <input type="password" name="Password" asp-for="@Model.Password" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-gradient-primary mr-2">Güncelle</button>
                </form>
            </div>
        </div>
    </div>
</div>